* {
  box-sizing: border-box;
}
.productpage1-column {
  float: left;
  width: 25%;
  padding: 10px;
}
.productpage1-column strong {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productpage1-column p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productpage1-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Clearfix (clear floats) */
.productpage1::after {
  content: '';
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .productpage1-column {
    width: 100%;
  }
}
